<h1>🥤 coke_finder 🔎</h1>
<h2>Coke-related Message Updates</h2>

<p>Keywords: coke / coca-cola / diet-cola</p>
<p>Coke Percentage: x%</p>

<table>
  <tr>
    <th>ID</th>
    <th>Message</th>
    <th>Sentiment</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table>