<h1>🥤 coke_finder 🔎</h1>
<h2>Coke-related Message Updates</h2>

<p>Keywords: coke / coca-cola / diet-cola</p>
<p>Coke Percentage: <%= @coke_percentage %>%</p>

<table>
  <tr>
    <th>Source ID</th>
    <th>Message</th>
    <th>Sentiment</th>
  </tr>
  <% @updates.each do |update| %>
    <tr>
      <td>
        <%= update.source_id %>
      </td>
      <td>
        <%= update.message %>
      </td>
      <td>
        <%= update.sentiment %>
      </td>
    </tr>
  <% end %>
</table>